<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-assign-task-heading"
        data-cy="AssignTaskCreateUpdateHeading"
        jhiTranslate="auditjHipsterApp.assignTask.home.createOrEditLabel"
      >
        Create or edit a Assign Task
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auditjHipsterApp.assignTask.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auditjHipsterApp.assignTask.assignedPerson" for="field_assignedPerson"
            >Assigned Person</label
          >
          <input
            type="text"
            class="form-control"
            name="assignedPerson"
            id="field_assignedPerson"
            data-cy="assignedPerson"
            formControlName="assignedPerson"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auditjHipsterApp.assignTask.taskAssignmentDate" for="field_taskAssignmentDate"
            >Task Assignment Date</label
          >
          <div class="input-group">
            <input
              id="field_taskAssignmentDate"
              data-cy="taskAssignmentDate"
              type="text"
              class="form-control"
              name="taskAssignmentDate"
              ngbDatepicker
              #taskAssignmentDateDp="ngbDatepicker"
              formControlName="taskAssignmentDate"
            />
            <button type="button" class="btn btn-secondary" (click)="taskAssignmentDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auditjHipsterApp.assignTask.taskStartDate" for="field_taskStartDate"
            >Task Start Date</label
          >
          <div class="input-group">
            <input
              id="field_taskStartDate"
              data-cy="taskStartDate"
              type="text"
              class="form-control"
              name="taskStartDate"
              ngbDatepicker
              #taskStartDateDp="ngbDatepicker"
              formControlName="taskStartDate"
            />
            <button type="button" class="btn btn-secondary" (click)="taskStartDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auditjHipsterApp.assignTask.taskDueDate" for="field_taskDueDate">Task Due Date</label>
          <div class="input-group">
            <input
              id="field_taskDueDate"
              data-cy="taskDueDate"
              type="text"
              class="form-control"
              name="taskDueDate"
              ngbDatepicker
              #taskDueDateDp="ngbDatepicker"
              formControlName="taskDueDate"
            />
            <button type="button" class="btn btn-secondary" (click)="taskDueDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
