<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-userprofile-heading"
        data-cy="UserprofileCreateUpdateHeading"
        jhiTranslate="auditjHipsterApp.userprofile.home.createOrEditLabel"
      >
        Create or edit a Userprofile
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auditjHipsterApp.userprofile.regionId" for="field_regionId">Region Id</label>
          <input type="number" class="form-control" name="regionId" id="field_regionId" data-cy="regionId" formControlName="regionId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auditjHipsterApp.userprofile.branchId" for="field_branchId">Branch Id</label>
          <input type="number" class="form-control" name="branchId" id="field_branchId" data-cy="branchId" formControlName="branchId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auditjHipsterApp.userprofile.departmentId" for="field_departmentId">Department Id</label>
          <input
            type="number"
            class="form-control"
            name="departmentId"
            id="field_departmentId"
            data-cy="departmentId"
            formControlName="departmentId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auditjHipsterApp.userprofile.divisionId" for="field_divisionId">Division Id</label>
          <input
            type="number"
            class="form-control"
            name="divisionId"
            id="field_divisionId"
            data-cy="divisionId"
            formControlName="divisionId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auditjHipsterApp.userprofile.userStatus" for="field_userStatus">User Status</label>
          <select class="form-control" name="userStatus" formControlName="userStatus" id="field_userStatus" data-cy="userStatus">
            <option [ngValue]="null">{{ 'auditjHipsterApp.UserStatus.null' | translate }}</option>
            <option *ngFor="let userStatus of userStatusValues" [value]="userStatus">
              {{ 'auditjHipsterApp.UserStatus.' + userStatus | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
